- var appleStore = pageType ? "signy://" + pageType + (id ? "/"+ id : "") : "signy://";
- var androidStore = pageType ? "intent://" + pageType + (id ? "/"+ id : "") + "#Intent;scheme=scheme;package=androidPackageName;end;" : "intent://#Intent;scheme=scheme;package=androidPackageName;end;";
doctype html
head
  title #{appName} App #{pageType} 
.container
  .content
    .title(style='text-align: center;') #{appName}: Redirecting...
script(type='text/javascript').
  function getMobileOperatingSystem() {
  var userAgent = navigator.userAgent || navigator.vendor || window.opera;
  var redirect = "#{webSite}";
  if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
  window.location.replace("#{appleStore}");
  redirect = "#{appleStoreUrl}";
  }
  if (/android/i.test(userAgent) && !window.MSStream) {
  window.location.replace("#{androidStore}");
  redirect = "#{googlePlayUrl}";
  }
  setTimeout(function () {
  window.location.replace(redirect);
  }, 4000);
  return "false";
  }
  getMobileOperatingSystem();
